* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: black; }

/* nav */
.img-logo {
  max-width: 0%; }

.nav-item .nav-link {
  display: inline;
  text-decoration: none;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  letter-spacing: .2em; }

/*titulos y txt*/
.titulo h1 {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 1.8em;
  text-align: center;
  margin: 10px;
  letter-spacing: 0.1em; }

.subtitulo {
  font-family: "Source Sans Pro ExtraLight", sans-serif;
  color: white;
  text-align: center;
  letter-spacing: 5px; }

.texto_estudio {
  font-family: "Source Sans Pro ExtraLight", sans-serif;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  margin: 15px; }

.subtituloh2 {
  font-family: "Source Sans Pro ExtraLight", sans-serif;
  color: white;
  text-align: center;
  letter-spacing: 5px; }

.subtitulofaq {
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-align: center;
  color: white;
  margin-top: 40px;
  margin-bottom: 30px; }

.pregunta h5 {
  font-family: "Bebas Neue", cursive;
  font-size: 1rem;
  letter-spacing: 5px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }

.p-faq {
  font-family: "Source Sans Pro", cursive;
  text-align: center;
  color: white;
  margin: 10px; }

.contactame {
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  color: white;
  letter-spacing: .5rem;
  text-align: center; }

/* texto e imagen INDEX */
.img-index {
  display: flex;
  text-align: center;
  max-width: 100%; }

.txt-index {
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Source Sans Pro", cursive;
  color: white;
  letter-spacing: 1px;
  font-size: 1.1rem; }

/*imagenes ESTUDIO */
.img-estudio {
  margin-bottom: 1.5rem; }

/* imagen CONTACTAME */
.img-contact img {
  justify-content: center;
  max-width: 100%; }

/* formulario */
.contact-in {
  width: 80%;
  align-items: center;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #2f2f2f;
  background: black;
  font-family: "Bebas Neue", cursive;
  color: white;
  letter-spacing: 10px;
  font-size: 2em; }

.contact-map {
  width: 100%;
  height: auto;
  flex: 40%;
  border-radius: 15px; }

.contact-map iframe {
  width: 100%;
  height: 100%; }

.contact-form {
  width: 100%;
  height: auto;
  flex: 50%;
  padding: 30px;
  text-align: center; }

.contact-form h1 {
  margin-bottom: 10px; }

.contact-form-txt {
  width: 100%;
  height: 40px;
  color: black;
  border: 1px solid #2f2f2f;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
  font-size: .8rem; }

.contact-form-txtarea {
  width: 100%;
  height: 130px;
  color: black;
  border: 1px solid #2f2f2f;
  border-radius: 20px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
  font-family: "Source Sans Pro", cursive;
  font-size: .8rem; }

.contact-form-txt::placeholder {
  font-family: "Source Sans Pro", cursive; }

.contact-form-btn {
  font-family: "Source Sans Pro", cursive;
  font-weight: bold;
  letter-spacing: 5px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: red;
  color: white;
  padding: 10px 0;
  font-size: 18px; }

/*footer*/
footer ul {
  display: flex;
  justify-content: center;
  margin: 25px;
  list-style-type: none;
  padding: auto; }
  footer ul .img-footer {
    max-width: 20%;
    display: inline;
    justify-content: center; }

a {
  text-decoration: none;
  font-family: "Source Sans Pro", cursive;
  color: white;
  font-size: 0.8rem; }

/* tablet */
@media screen and (min-width: 768px) {
  /*navbar*/
  .img-logo {
    max-width: 0rem; }
  .img-logo2 {
    max-width: 2.5rem;
    margin-left: 5px;
    margin-right: 5px; }
  .nav-item .nav-link {
    color: white;
    display: block;
    text-decoration: none;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    letter-spacing: .2em; }
  .navbar {
    background-color: #191919; }
  /*titulos y txt*/
  .titulo {
    font-family: "Bebas Neue", cursive;
    color: white;
    font-size: 3.5em;
    text-align: center;
    margin: 35px;
    letter-spacing: 0.18em; }
  .subtitulo {
    font-family: "Source Sans Pro ExtraLight", sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 5px; }
  .texto_estudio {
    font-family: "Source Sans Pro ExtraLight", sans-serif;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin: 15px;
    padding: 15px; }
  .subtituloh2 {
    font-family: "Source Sans Pro ExtraLight", sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    font-size: 1.3rem; }
  .pregunta h5 {
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
    letter-spacing: 5px;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px; }
  .contactame {
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
    color: white;
    letter-spacing: .5rem;
    text-align: center; }
  /*imagenes INDEX*/
  .txt-index {
    max-width: 100%;
    align-items: center;
    justify-content: center; }
  .img-txt {
    text-align: center;
    margin-top: 10px;
    padding: 10%;
    font-family: "Source Sans Pro", cursive;
    color: white; }
  /*imagenes ESTUDIO*/
  .img-estudio {
    margin-bottom: 1.5rem; }
  /*imagen contactame*/
  .img-contact {
    justify-content: center;
    margin: 100px;
    max-width: 100%; }
  /*formulario*/
  /*footer*/
  footer ul li {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    list-style-type: none; }
    footer ul li .img-footer {
      max-width: 25%; }
  a {
    font-family: "Source Sans Pro", cursive;
    text-decoration: none;
    color: white; } }

/*desktop*/
@media (min-width: 992px) {
  /*navbar*/
  header .navbar {
    font-family: "Source Sans Pro Semibold", cursive;
    width: 100%;
    text-align: center;
    background-color: #191919; }
  header .nav-item .nav-link {
    color: white;
    display: block;
    text-decoration: none;
    font-size: 15px;
    margin-left: 25px;
    margin-right: 25px;
    letter-spacing: .2em; }
  header .img-logo {
    max-width: 1.5rem; }
  header .img-logo2 {
    max-width: 2.5rem;
    margin-left: 5px;
    margin-right: 5px; }
  /*titulos y txt*/
  .titulo h1 {
    font-family: "Bebas Neue", cursive;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10rem;
    letter-spacing: 4px; }
    .titulo h1:hover {
      color: red;
      transition: .8s; }
  .subtitulo {
    font-family: "Source Sans Pro ExtraLight", sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    font-size: 2rem; }
  .img-txt {
    max-width: 50rem;
    align-items: right; }
  .texto_estudio {
    font-family: "Source Sans Pro ExtraLight", sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 5px; }
  .subtitulofaq {
    font-family: "Bebas Neue", cursive;
    font-size: 2rem;
    letter-spacing: 5px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px; }
  .pregunta h5 {
    font-family: "Bebas Neue", cursive;
    font-size: 1.8rem;
    letter-spacing: 5px;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px; }
  .respuesta {
    font-family: "Source Sans Pro", cursive;
    color: white;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px; }
    .respuesta li {
      list-style: none; }
  .contactame {
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
    color: white;
    letter-spacing: .5rem;
    text-align: center; }
  .text-ubi {
    color: white; }
  /*imagen INDEX*/
  .txt-index {
    color: white;
    text-align: center;
    margin-top: 200px; }
  /*imagenes ESTUDIO*/
  .img-estudio {
    margin-bottom: 1.5rem; }
  .rowimg img {
    max-width: 100%;
    opacity: .2;
    transition: opacity .5s; }
  .row img {
    transition: opacity .5s ease-in-out; }
    .row img:hover {
      opacity: 1; }
  /*imagenes TRABAJOS*/
  .carousel-item {
    align-items: center; }
  /*formulario*/
  .contact-in {
    width: 80%;
    align-items: center;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #2f2f2f;
    background: black;
    font-family: "Bebas Neue", cursive;
    color: white;
    letter-spacing: 10px;
    font-size: 2em; }
  .contact-map {
    width: 100%;
    height: auto;
    flex: 40%;
    border-radius: 15px; }
  .contact-map iframe {
    width: 100%;
    height: 100%; }
  .contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center; }
  .contact-form h1 {
    margin-bottom: 10px; }
  .contact-form-txt {
    width: 100%;
    height: 40px;
    color: black;
    border: 1px solid #2f2f2f;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-size: .8rem; }
  .contact-form-txtarea {
    width: 100%;
    height: 130px;
    color: black;
    border: 1px solid #2f2f2f;
    border-radius: 20px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: "Source Sans Pro", cursive;
    font-size: .8rem; }
  .contact-form-txt::placeholder {
    font-family: "Source Sans Pro", cursive; }
  .contact-form-btn {
    font-family: "Source Sans Pro", cursive;
    font-weight: bold;
    letter-spacing: 5px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: red;
    color: white;
    padding: 10px 0;
    font-size: 18px; }
  /*footer*/
  footer ul li {
    display: flex;
    justify-content: center;
    margin: 20px;
    list-style-type: none; }
    footer ul li .img-footer {
      max-width: 25%;
      padding: 5px; }
  a {
    text-decoration: none;
    color: white;
    font-family: "Source Sans Pro", cursive; } }
