$font-title: 'Bebas Neue', cursive;

$font-s: 'Source Sans Pro', cursive;

$font-s-light: 'Source Sans Pro ExtraLight', sans-serif;

$font-s-semibold: 'Source Sans Pro Semibold', cursive;

$colors: (first:black, second:white, thrid:red, fourth:rgb(47, 47, 47));

$desktop:992px;